@import "tailwindcss";

@theme {
  --color-cueva: #14141c;
  --color-bloque: #22222e;
  --color-pasto: #6abe30;
  --color-diamante: #4fd1c5;
  --color-oro: #f7c948;
  --color-redstone: #e43b44;
  --color-texto: #e8e8e8;
  --color-obsidiana: #150a1f;
  --color-portal: #3d1a8f;


  --font-pixel: "Pixelify Sans", monospace;
  --font-sans: "Inter", system-ui, sans-serif;

  --text-shadow-pixel: 4px 4px 0 rgb(0 0 0 / 0.6);

  --animate-splash: splash 0.5s ease-in-out infinite alternate;
  @keyframes splash {
    to {
      scale: 1.1;
    }
  }

}

@layer base {
  body {
    background-color: var(--color-cueva);
    color: var(--color-texto);
  }
}
